cache/*
!cache/.htaccess
!cache/.gitkeep
data/admin.json
data/backups/*
!data/backups/.gitkeep
data/content.json.tmp
.DS_Store
data/secret.key
data/instagram.json
dist/
data/mail.json
data/config.php
data/mail-token.json
